<ion-header>
  <ion-toolbar>
    <div class="mobile-only"><ion-title>view Profile</ion-title></div>
    <ion-buttons>
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="gradient-circle"></div>
  </div>
  <div class="container2">
    <div class="gradient-circle2"></div>
  </div>
  <div class="container3">
    <div class="gradient-circle3"></div>
  </div>
  <div class="container4">
    <div class="gradient-circle4"></div>
  </div>
  <div class="container5">
    <div class="gradient-circle5"></div>
  </div>
  <div class="container6">
    <div class="gradient-circle6"></div>
  </div>

  <div class="container7">
    <div class="gradient-circle7"></div>
  </div>

  <ion-card  class="mobile">
    <ion-card-header class="header">
      My Profile
    </ion-card-header>
    <ion-card-content style="margin-top:-1.9%">
      <br>
      <p>First Name :</p>
      <p>Last Name :</p>
      <p>Country of Residence :</p>
      <p>Gender :</p>
      <p>Phone Number :</p>
      <p>Email Address :</p>
      <p>Wedding Type :</p>
      <p>Partner's Gender :</p>
      <p>Groom's Name :</p>
      <p>Bride's Name :</p>
      

       
    </ion-card-content>
    <ion-button expand="full" color="primary" >Edit Profile</ion-button>
  </ion-card>
</ion-content>
