

<ion-header>
  <ion-toolbar>
    <ion-title>View Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="gradient-circle"></div>
  </div>

  <div class="container2">
    <div class="gradient-circle2"></div>
  </div>

  <div class="container3">
    <div class="gradient-circle3"></div>
  </div>
  
  <div class="container4">
    <div class="gradient-circle4"></div>
  </div>

  <div class="container5">
    <div class="gradient-circle5"></div>
  </div>
  <div class="container6">
    <div class="gradient-circle6"></div>
  </div>
  <div class="container7">
    <div class="gradient-circle7"></div>
  </div>
  
    <!-- <ion-item>
      <ion-button fill="clear" slot="end">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="end">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-item> -->
    <ion-grid>
      <ion-row class="profile-row">
    <ion-card class="profile-card">
      <ion-card-header class="header">
        <ion-card-title>Personal Information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="full">
          <ion-item>
            <ion-label position="stacked">First Name</ion-label>
            <ion-input type="text" disabled>Doe</ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input type="text" value="Doe" disabled></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Country of Residence</ion-label>
            <ion-input type="text" value="United States" disabled></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Gender</ion-label>
            <ion-input type="text" value="Male" disabled></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Phone</ion-label>
            <ion-input type="tel" value="+1234567890" disabled></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" value="john.doe@example.com" disabled></ion-input>
          </ion-item>
        
        </ion-list>
      </ion-card-content>
    </ion-card>
    
    <ion-card class="profile-card">
      <ion-card-header class="header">
        <ion-card-title>Wedding Information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="full">
            
          <ion-item>
            <ion-label position="stacked">Wedding Type</ion-label>
            <ion-input type="text" value="Outdoor" disabled></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Partner Gender</ion-label>
            <ion-input type="text" value="Female" disabled></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Groom</ion-label>
            <ion-input type="text" value="John Doe" disabled></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Bride</ion-label>
            <ion-input type="text" value="Jane Smith" disabled></ion-input>
          </ion-item>

          <!-- <ion-item>
            <ion-label position="stacked">Couple</ion-label>
            <ion-input type="text" value="John Doe & Jane Smith" disabled></ion-input>
          </ion-item> -->
          
          <ion-item >
            <ion-label position="stacked" style="margin-top:-15">Wedding Date</ion-label>
            <ion-input type="text" value="10/09/2023" disabled></ion-input>
            
            <ion-label slot="end" style="margin-top:-15">
            <ion-label position="stacked">Days till Weddings</ion-label>
            <ion-input type="text" value="5" disabled></ion-input>
            </ion-label>
          </ion-item>
          
          <!-- <ion-item>
            <ion-label position="stacked">Days till Wedding</ion-label>
            <ion-input type="text" value="5" disabled></ion-input>
          </ion-item> -->
          
          <ion-item>
            <ion-label position="stacked">Location</ion-label>
            <ion-input type="text" value="Cape Town" disabled></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>
 
  
  <!-- <ion-card class="custom-item" >
    <ion-card-header color="primary" class="Bheader">
      Budgets For The Wedding:
    </ion-card-header>
     <ion-card-content>
          <ion-item>
          <ion-text class="budget1">Minimum Budget:</ion-text>
          <ion-input slot="end" class="money">1 000 0000</ion-input>
        </ion-item>
         <ion-item>
            <ion-text class="budget1">Minimum Budget:</ion-text>
            <ion-input slot="end" class="money">1 000 0000</ion-input>
          </ion-item>
    </ion-card-content>
  </ion-card>  -->
 

</ion-content>
