
<ion-header color="primary">
  <ion-toolbar color="primary" style="text-align:center">
    <ion-title >Budget Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid class="budget-table">
        <!-- Header Row -->
        <ion-row class="header-row">
          <ion-col class="item-label">Items</ion-col>
          <ion-col class="item-label">Budget Amount</ion-col>
          <ion-col class="item-label">Actual Amount</ion-col>
        </ion-row>
        <!-- Ceremony: -->
        <ion-row class="topic">
            <ion-col>
          <h4>Ceremony:</h4>
         </ion-col>
        </ion-row>
        <ion-row class="totals">
            <ion-col>
            <h4>Ceremony Total:</h4>
          </ion-col>
          <ion-col>
              <h4>R10098</h4>
          </ion-col>
            <ion-col>
                <h4>R88543</h4>
            </ion-col>
          </ion-row>
        <ion-row *ngFor="let item of budget.Ceremony" class="budget-item">
          <ion-col >{{ item.name }}</ion-col>
          <ion-col>
            <ion-input [(ngModel)]="item.budgetAmount" type="number"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="item.actualAmount" type="number"></ion-input>
          </ion-col>
        </ion-row>

<!--		Reception: -->
        <ion-row class="topic">
            <ion-col>
          <h4>Reception:</h4>
            </ion-col>
        </ion-row>
        <ion-row class="totals">
            <ion-col>
            <h4>Reception Total:</h4>
          </ion-col>
          <ion-col>
              <h4>R10098</h4>
          </ion-col>
            <ion-col>
                <h4>R88543</h4>
            </ion-col>
          </ion-row>
        <ion-row *ngFor="let reception of budget.receptionBudgetItems" class="budget-item">
          <ion-col > {{reception.name}}</ion-col>
          <ion-col>
            <ion-input [(ngModel)]="reception.budgetAmount" type="number"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="reception.actualAmount" type="number"></ion-input>
          </ion-col>
        </ion-row>

<!-- Attire and Beauty Total: -->
<ion-row class="topic">
    <ion-col>
  <h4> Attire and Beauty:</h4>
</ion-col>
</ion-row>
<ion-row class="totals">
    <ion-col>
    <h4> Attire and Beauty Total:</h4>
  </ion-col>
  <ion-col>
      <h4>R10098</h4>
  </ion-col>
    <ion-col>
        <h4>R88543</h4>
    </ion-col>
  </ion-row>
<ion-row *ngFor="let item of budget.AttireBeautyItems" class="budget-item">
  <ion-col >	{{item.name}}</ion-col>
  <ion-col>
    <ion-input [(ngModel)]="item.budgetAmount" type="number"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input [(ngModel)]="item.actualAmount" type="number"></ion-input>
  </ion-col>
</ion-row>

<!-- Photography and Videography: -->
<ion-row class="topic">
    <ion-col>
  <h4> Photography and Videography:</h4>
 </ion-col>
</ion-row>
<ion-row class="totals">
    <ion-col>
    <h4> Photography and Videography Total:</h4>
  </ion-col>
  <ion-col>
      <h4>R10098</h4>
  </ion-col>
    <ion-col>
        <h4>R88543</h4>
    </ion-col>
  </ion-row>
<ion-row *ngFor="let item of  budget.PhotographyandVideographyItems" class="budget-item">
  <ion-col >{{item.name}}</ion-col>
  <ion-col>
    <ion-input [(ngModel)]="item.budgetAmount" type="number"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input [(ngModel)]="item.actualAmount" type="number"></ion-input>
  </ion-col>
</ion-row>


<!-- 	Entertainment:	 -->

<ion-row class="topic">
    <ion-col>
  <h4>Entertainment:</h4>
 </ion-col>
</ion-row>
<ion-row class="totals">
    <ion-col>
    <h4>Entertainment Total:</h4>
  </ion-col>
  <ion-col>
      <h4>R10098</h4>
  </ion-col>
    <ion-col>
        <h4>R88543</h4>
    </ion-col>
  </ion-row>
<ion-row *ngFor="let item of budget.EntertainmentItems" class="budget-item">
  <ion-col >{{item.name}}</ion-col>
  <ion-col>
    <ion-input [(ngModel)]="item.budgetAmount" type="number"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input [(ngModel)]="item.actualAmount" type="number"></ion-input>
  </ion-col>
</ion-row>


<!--	Stationery and Invitations:	  -->


<ion-row class="topic">
    <ion-col>
  <h4>Stationery and Invitations:</h4>
    </ion-col>
</ion-row>
<ion-row class="totals">
  <ion-col>
  <h4>Stationery and Invitations Total:</h4>
</ion-col>
<ion-col>
    <h4>R10098</h4>
</ion-col>
  <ion-col>
      <h4>R88543</h4>
  </ion-col>
</ion-row>
<ion-row *ngFor="let item of budget.StationeryandInvitationsItems" class="budget-item">
  <ion-col >{{item.name}}</ion-col>
  <ion-col>
    <ion-input [(ngModel)]="item.budgetAmount" type="number"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input [(ngModel)]="item.actualAmount" type="number"></ion-input>
  </ion-col>
</ion-row>


<!--			Flowers and Decor Total		  -->
<ion-row class="topic">
    <ion-col>
    <h4>Flowers and Decor:</h4>
    </ion-col>
  </ion-row>
<ion-row class="totals">
    <ion-col>
    <h4>Flowers and Decor Total:</h4>
  </ion-col>
  <ion-col>
      <h4>R10098</h4>
  </ion-col>
    <ion-col>
        <h4>R88543</h4>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let item of budget.FlowersandDecorItems" class="budget-item">
    <ion-col >{{item.name}}</ion-col>
    <ion-col>
      <ion-input [(ngModel)]="item.budgetAmount" type="number"></ion-input>
    </ion-col>
    <ion-col>
      <ion-input [(ngModel)]="item.actualAmount" type="number"></ion-input>
    </ion-col>
  </ion-row>
 
  <!-- 	Wedding Rings:		-->
  <ion-row class="topic">
      <ion-col>
      <h4>Wedding Rings:</h4>
      </ion-col>
    </ion-row>
  <ion-row class="totals">
      <ion-col>
      <h4> Wedding Rings Total:</h4>
    </ion-col>
    <ion-col>
        <h4>R10098</h4>
    </ion-col>
      <ion-col>
          <h4>R88543</h4>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of  budget.WeddingRingsItems" class="budget-item">
      <ion-col >{{item.name}}</ion-col>
      <ion-col>
        <ion-input [(ngModel)]="item.budgetAmount" type="number"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input [(ngModel)]="item.actualAmount" type="number"></ion-input>
      </ion-col>
    </ion-row>
  <!-- Transportation:	 -->
    <ion-row class="topic">
    <ion-col>
        <h4>Transportation:	</h4>
    </ion-col>
      </ion-row>
    <ion-row class="totals">
        <ion-col>
        <h4>Transportation Total:</h4>
      </ion-col>
      <ion-col>
          <h4>R10098</h4>
      </ion-col>
        <ion-col>
            <h4>R88543</h4>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of budget.TransportationItems" class="budget-item">
        <ion-col > {{item.name}}</ion-col>
        <ion-col>
          <ion-input [(ngModel)]="item.budgetAmount" type="number"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input [(ngModel)]="item.actualAmount" type="number"></ion-input>
        </ion-col>
      </ion-row>
     
<!-- Wedding Planner/Coordinator Total: -->
       <ion-row class="topic">
       <ion-col>
          <h4>Wedding Planner/Coordinator:</h4>
       </ion-col>
        </ion-row>
<ion-row class="totals">
  <ion-col>
  <h4>Wedding Planner/Coordinator Total:</h4>
</ion-col>
<ion-col>
    <h4>R10098</h4>
</ion-col>
  <ion-col>
      <h4>R88543</h4>
  </ion-col>
</ion-row>
<ion-row *ngFor="let item of budget.WeddingPlannerItems" class="budget-item">
  <ion-col >{{item.name}}</ion-col>
  <ion-col>
    <ion-input [(ngModel)]="item.budgetAmount" type="number"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input [(ngModel)]="item.actualAmount" type="number"></ion-input>
  </ion-col>
</ion-row>
<!-- Miscellaneous Expenses: -->
 <ion-row class="topic">
    <ion-col>
    <h4>Miscellaneous Expenses:</h4>
    </ion-col>
  </ion-row>
<ion-row class="totals">
  <ion-col>
  <h4>Miscellaneous Expenses Total:</h4>
</ion-col>
<ion-col>
    <h4>R10098</h4>
</ion-col>
  <ion-col>
      <h4>R88543</h4>
  </ion-col>
</ion-row>
<ion-row *ngFor="let item of budget.MiscellaneousExpensesItems" class="budget-item">
  <ion-col >	{{item.name}}</ion-col>
  <ion-col>
    <ion-input [(ngModel)]="item.budgetAmount" type="number"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input [(ngModel)]="item.actualAmount" type="number"></ion-input>
  </ion-col>
</ion-row>

        <!-- Total Budget Row (Calculated from TypeScript) -->
        <!-- <ion-row class="total-row">
          <ion-col class="item-label">Total Budget</ion-col>
          <ion-col class="total-amount">{{ totalBudget() | currency:'USD':'symbol':'1.2-2' }}</ion-col>
          <ion-col class="total-amount">{{ totalActual() | currency:'USD':'symbol':'1.2-2' }}</ion-col>
        </ion-row> -->
      </ion-grid>
    </ion-card-content>
    <ion-button (click)=addOrUpdateBudget()>Submit</ion-button>
  </ion-card>
</ion-content>

