// .budget-table {
//     width: 100%;
//   }
  
//   .header-row {
//     background-color: #f2f2f2;
//     font-weight: bold;
//     border: 1px solid #ccc; /* Add a border to the header row */
//   }
  
//   .item-label {
//     text-align: center;
//     padding: 10px;
//     border: 1px solid #ccc; /* Add a border to item labels */
//   }
  
//   .budget-item {
//     --ion-background-color: transparent;
//     border: 1px solid #ccc; /* Add a border to budget items */
//   }
  
//   ion-input {
//     --padding-start: 0;
//     text-align: center;
//     border: 1px solid #ccc; /* Add a border to input fields */
//   }
  
//   .total-row {
//     font-weight: bold;
//     border: 1px solid #ccc; /* Add a border to the total row */
//   }
ion-title{
  font-weight: bold !important;
color: rgb(52, 52, 52);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

ion-row{
    border-bottom: 1px solid #ccc;
}
.budget-table {
    width: 100%;
    border-collapse: collapse; /* This property ensures borders collapse into a single border line */
    // border: 1px solid #ccc; /* Add a border to the entire table */
  }
  
  .header-row {
    // background: linear-gradient(to left,#f2f2f2,#007bff,black,#007bff,black,blue);
    background: radial-gradient(circle, #D8F5FD,  #98c9fa);
    font-weight: bold;
    color:rgb(29, 29, 29);
    
  }
  
  .item-label,
  .budget-item ion-input,
  .total-row {
    text-align: center;
    padding: 10px;
  }
  .total-amount{
    font-weight: bold;
  }
  .total-row {
    font-weight: bold;
  }
  // .main-card{
  //   height: 100%;
  //   background-color:black;
  // }

  ion-col{
    border-left: 1px solid #ccc;
  }
  .topic
  {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: #007bff;
    color:white;
  }
 .totals{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  background-color: #0071e983;
  color:white;

 }
 ion-content{
    --background: #D8F5FD;
 }