
<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>Budget Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="main-card">
    <ion-card-content>
      <ion-grid class="budget-table">
        <ion-row class="header-row">
          <ion-col class="item-label">Items</ion-col>
          <ion-col class="item-label">Budget Amount</ion-col>
          <ion-col class="item-label">Actual Amount</ion-col>
        </ion-row>

<ion-row class="budget-item">
  <ion-col class="item-label">Reception - Venue</ion-col>
  <ion-col>
    <ion-input [(ngModel)]="budgetItems[3].budgetAmount" type="number"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input [(ngModel)]="budgetItems[3].actualAmount" type="number"></ion-input>
  </ion-col>
</ion-row>

<ion-row class="budget-item">
  <ion-col class="item-label">Reception - Food</ion-col>
  <ion-col>
    <ion-input [(ngModel)]="budgetItems[4].budgetAmount" type="number"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input [(ngModel)]="budgetItems[4].actualAmount" type="number"></ion-input>
  </ion-col>
</ion-row>

<ion-row class="budget-item">
  <ion-col class="item-label">Reception - Cake</ion-col>
  <ion-col>
    <ion-input [(ngModel)]="budgetItems[5].budgetAmount" type="number"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input [(ngModel)]="budgetItems[5].actualAmount" type="number"></ion-input>
  </ion-col>
</ion-row>

<ion-row class="budget-item">
  <ion-col class="item-label">Reception - Bar Service</ion-col>
  <ion-col>
    <ion-input [(ngModel)]="budgetItems[6].budgetAmount" type="number"></ion-input>
  </ion-col>
  <ion-col>
    <ion-input [(ngModel)]="budgetItems[6].actualAmount" type="number"></ion-input>
  </ion-col>
</ion-row>
<!-- ________________________________________________________________________________________ -->
        <ion-row class="total-row">
          <ion-col class="item-label">Total Budget</ion-col>
          <ion-col class="total-amount">{{ totalBudget() | currency:'USD':'symbol':'1.2-2' }}</ion-col>
          <ion-col class="total-amount">{{ totalActual() | currency:'USD':'symbol':'1.2-2' }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
