<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><p>#Wedding Checklist</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: url('assets/ww.jpg') no-repeat center / cover;">
  

  <ion-card>
    <ion-card-header>
     TimeFrame
    </ion-card-header>
    <ion-card-content class="ion-text-center"> <!-- Center the content -->
      <ion-list class="scrollable-list">
        <ion-item (ionSelect)="selectMonth('12 MONTHS')" class="custom-center">12 MONTHS</ion-item>
        <ion-item (ionSelect)="selectMonth('10-11 MONTHS')" class="custom-center">10-11 MONTHS</ion-item>
        <ion-item (ionSelect)="selectMonth('8-9 MONTHS')" class="custom-center">8-9 MONTHS</ion-item>
        <ion-item (ionSelect)="selectMonth('6-7 MONTHS')" class="custom-center">6-7 MONTHS</ion-item>
        <ion-item (ionSelect)="selectMonth('4-5 MONTHS')" class="custom-center">4-5 MONTHS</ion-item>
        <ion-item (ionSelect)="selectMonth('3 MONTHS')" class="custom-center">3 MONTHS</ion-item>
        <ion-item (ionSelect)="selectMonth('2 MONTHS')" class="custom-center">2 MONTHS</ion-item>
        <ion-item (ionSelect)="selectMonth('1 MONTH')" class="custom-center">1 MONTH</ion-item>
        <ion-item (ionSelect)="selectMonth('2 WEEKS')" class="custom-center">2 WEEKS</ion-item>
        <ion-item (ionSelect)="selectMonth('1 WEEK')" class="custom-center">1 WEEK</ion-item>
        <ion-item (ionSelect)="selectMonth('THE DAY BEFORE')" class="custom-center">THE DAY BEFORE</ion-item>
        <ion-item (ionSelect)="selectMonth('WEDDING DAY')" class="custom-center">WEDDING DAY</ion-item>
        <ion-item (ionSelect)="selectMonth('BEYOND THE WEDDING')" class="custom-center">BEYOND THE WEDDING</ion-item>
        <!-- Add more months as needed -->
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  
  <ion-card class="tablecard">
    <table>
      <thead>
          <tr>
              <th>Item</th>
              <th>Check</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>GLASSES</td>
              <td><input type="checkbox"></td>
          </tr>
          <tr>
              <td>BALLOONS</td>
              <td><input type="checkbox"></td>
          </tr>
          <tr>
              <td>WINE</td>
              <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>WINE</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>WINE</td>
          <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td>WINE</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
      <td>WINE</td>
      <td><input type="checkbox"></td>
  </tr>
      </tbody>
  </table>
  </ion-card>
  
  
  



</ion-content>
