<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title><p>#Wedding Checklist</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: url('assets/ww.jpg') no-repeat center / cover;">
  

  <ion-card>
    <ion-card-header>
      TimeFrame
    </ion-card-header>
    <ion-card-content class="ion-text-center"> <!-- Center the content -->
      <ion-list class="scrollable-list">
        <a class="custom-center time-frame-link" (click)="selectMonth('12 MONTHS')" class="custom-center"><div class="tc">12 MONTHS</div></a>
        <a class="custom-center time-frame-link" (click)="selectMonth('10-11 MONTHS')" class="custom-center"><div class="tc">10-11 MONTHS</div></a>
        <a class="custom-center time-frame-link" (click)="selectMonth('8-9 MONTHS')" class="custom-center"><div class="tc">8-9 MONTHS</div></a>
        <a class="custom-center time-frame-link" (click)="selectMonth('6-7 MONTHS')" class="custom-center"><div class="tc">6-7 MONTHS</div></a>
        <a class="custom-center time-frame-link" (click)="selectMonth('4-5 MONTHS')" class="custom-center"><div class="tc">4-5 MONTHS</div></a>
        <a class="custom-center time-frame-link" (click)="selectMonth('3 MONTHS')" class="custom-center"><div class="tc">3 MONTHS</div></a>
        <a class="custom-center time-frame-link" (click)="selectMonth('2 MONTHS')" class="custom-center"><div class="tc">2 MONTHS</div></a>
        <a class="custom-center time-frame-link" (click)="selectMonth('1 MONTH')" class="custom-center"><div class="tc">1 MONTH</div></a>
        <a class="custom-center time-frame-link" (click)="selectMonth('2 WEEKS')" class="custom-center"><div class="tc">2 WEEKS</div></a>
        <a class="custom-center time-frame-link" (click)="selectMonth('1 WEEK')" class="custom-center"><div class="tc">1 WEEK</div></a>
        <a class="custom-center time-frame-link" (click)="selectMonth('THE DAY BEFORE')" class="custom-center"><div class="tc">THE DAY BEFORE</div></a>
        <a class="custom-center time-frame-link" (click)="selectMonth('WEDDING DAY')" class="custom-center"><div class="tc">WEDDING DAY</div></a>
        <a class="custom-center time-frame-link" (click)="selectMonth('BEYOND THE WEDDING')" class="custom-center"><div class="tc">BEYOND THE WEDDING</div></a>
        <!-- Add more months as needed -->
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  
  

  <ion-card class="tablecard" *ngIf="shouldDisplayCard()">
    <table>
      <thead>
        <tr>
          <th>{{ selectedTimeFrame }}</th>
          <th>
            ALL
            <input type="checkbox" [(ngModel)]="checkAll" (change)="toggleAllCheckboxesInCurrentTimeFrame()">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let checklistItem of getChecklistItemsForSelectedTimeFrame()">
          <td>{{ checklistItem.name }}</td>
          <td><input type="checkbox" [(ngModel)]="checklistItem.checked"></td>
        </tr>
      </tbody>
    </table>
    
    <br>
  <button class="continue-application">
    <div>
        <div class="pencil"></div>
        <div class="folder">
            <div class="top">
                <svg viewBox="0 0 24 27">
                    <path d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"></path>
                </svg>
            </div>
            <div class="paper"></div>
        </div>
    </div>
    Confrim Checklist 
</button>
  </ion-card>
  
  
  
  
 
  
  
 



</ion-content>
