<ion-content [fullscreen]="true" style="--background: url('assets/VV.jpg') no-repeat center / cover;">


  <ion-grid class="center-grid">
    
    <h2 class="header-title">Hashtag Wedding</h2>
    <br>
    <br>
    <br>
    <ion-row >
        <ion-col>
            <div class="image-container">
                <img src="assets/weddingInfo.png" button (click)="goToViewProfile()">
              </div>
        </ion-col>

        <ion-col>
            <div class="image-container">
                <img src="assets/budget.png"  button (click)="goToBudget()">
              </div>
        </ion-col>

        <ion-col>
            <div class="image-container">
                <img src="assets/checklist.png"  button (click)="goToChecklist()">
              </div>
        </ion-col>

        <ion-col>
          <div class="image-container">
              <img src="assets/lokker.png">
            </div>
      </ion-col>

    </ion-row>
</ion-grid> 
</ion-content>
