.center-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

  .header-title {
    text-align: center;
    color: #6D89B4;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: xx-large;
            
  }
  .image-container:hover{

    border: 3px solid rgb(57, 61, 117);
  }