
<ion-header>
  <ion-toolbar style="text-align:center;--background:#D8F5FD">
    <ion-icon name="arrow-back-sharp" style="zoom:1.6; margin-left:5px" slot="start" routerLink="/view-profile"></ion-icon>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: url('assets/VV.jpg') no-repeat center / cover;">

  <div class="container">
    <div class="gradient-circle"></div>
  </div>

  <div class="container2">
    <div class="gradient-circle2"></div>
  </div>

  

  <div class="containerUser">
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-card-title>Profile</ion-card-title>
      
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Name" labelPlacement="floating"  [maxlength]="40" type="text" [(ngModel)]="user.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Surname" labelPlacement="floating" [maxlength]="40" type="text" [(ngModel)]="user.surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" [maxlength]="40" type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Phone number" labelPlacement="floating" [maxlength]="40" type="text" [(ngModel)]="user.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Country" labelPlacement="floating"  [maxlength]="40" type="text" [(ngModel)]="user.country"></ion-input>
      </ion-item>
      
      <ion-item>
       
        <ion-select label="Gender" placeholder="select your gender" [(ngModel)]="user.gender">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Other profile fields here -->
      <div class="profile-container" [@fadeInOut]="showProfile ? 'visible' : 'hidden'">
      <ion-button expand="full"  #nextButton expand="full" (click)="toggleSections()">Next</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</div>


<div class="containerrr" [@fadeInOut]="showWeddingInfo ? 'visible' : 'hidden'">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary" >Wedding Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input  label="Wedding Type"   [maxlength]="40" label-placement="floating" [(ngModel)]="wedding!.wed_type"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Contact Gender</ion-label>
        <ion-select [(ngModel)]="wedding.c_gender" label="Contact Gender" placeholder="select contact gender">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-input label="Groom" label-placement="floating" [maxlength]="40" [(ngModel)]="wedding.groom"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Bride" label-placement="floating" [maxlength]="40" [(ngModel)]="wedding.bride"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Location" label-placement="floating" [maxlength]="40" [(ngModel)]="wedding.location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Wedding Date</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
             <ion-datetime id="datetime" name="wed_date" (ionChange)="setDate($event)" presentation="date"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-input type="number" label="Minimum Budget" label-placement="floating"  [(ngModel)]="wedding.minBudget"name="minBudget"></ion-input>
      </ion-item>
      
      <ion-item>
         <ion-input type="number" label="Maximum Budget" label-placement="floating" [(ngModel)]="wedding.maxBudget" name="maxBudget"></ion-input>
      </ion-item>
      


    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="saveWeddingChanges()">Save Changes</ion-button>
</div>



</ion-content>